.tripSection {
    background-repeat: space;
    background-size: cover;
    background-position: center;
    background-image: url("https://i.ibb.co/3dHk6Dh/ostrander.jpg");
    opacity: 1;
    /*background-image: url("https://i.ibb.co/Bzx3zKz/ostrander-Original.jpg");*/
}

    
.tripContainer {
    width: auto;
    text-align: center;
    left: 0;
    right: 0;
    
}




.trips {
    text-align: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    width: 90%
    /*border: 1px solid rgba(191, 4, 4);*/
   

}



.trips:hover {
    opacity: 3;
    padding: 10px;
    transform: scale(1.01);
    transition: 0.3s;
    /*border: 1px solid rgba(191, 4, 4);*/  
}


.tripLi {
    /*padding: 20px;*/
    height: 100px;
    font-weight: bolder;
    opacity: 1;
    transition-timing-function: ease-in-out;
    
   
}

.tripImage:hover {
    transition-timing-function: ease-in-out;


}



.tripImage {
    /*display: inline-block;*/
    width: 40%; 
    height: 50px;
    border-radius: 50px;
    opacity: 1;
    text-align: center
}


.tripImage:hover {
    width: 45%; 
    height: 100px;
    transition: 0.9s;
      
}   
  
  
  
.trip {
    /*display: inline-block; */
    width: 40%; 
    /*padding-left: 30px;*/
    vertical-align: middle;
    height: 50px;
    padding-bottom: 30px;
    opacity: 1;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    text-align: center;

   
    
}

 .navActions {
    float: right;
    width: 150px;
     margin-top: -100px;
    padding-top: 1px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;

 
 }


 .navDelete {
    display: inline-block;
    text-align: center;
    width: 50%;
    
      
   }


div.delete {
    font-size: 10px;
    
}


 .deleteIcon {
float: left
      
   }

 .navCopy, .navEdit  {
    display: inline-block;
    text-align: center;
    width: 25%;
    position: relative;
    vertical-align: middle;
    margin-top: -50px;

 }

 div.delete {
    margin-left: 10px;

}



   


@media only screen and (min-width: 768px) {

.trip {
    font-size: 20px;
    width: 50%; 
   
}


.tripImage {
    width: 50%; 
    height: 150px;
    
    
}


.tripImage:hover {
    width: 55%;
    height: 200px;
    transition: 0.9s;
   
}   
   

.tripLi {
    padding: 50px;
    height: 220px;

   
}



.navDelete {
    margin-top: -170px;
    width: 60px;
  
    
 }

}


@media only screen and (min-width: 1366px) {

        

.tripLi, .trip {
    width: 50%;
     display: inline-block; 
    text-align: center;
   

}


.tripImage {
    width: 50%;
    height: 300px;
    
    
}


.tripImage:hover {
    width: 35%;
    height: 400px;
   
}

.trip {
    font-size: 30px;
    width: 100%; 
}



}


@media only screen and (min-width: 2500px) {

.trip {
    width: 50%;
    font-size: 40px;
   
}


.tripImage {
    width: 50%;
    height: 400px;
    
    
}


.tripImage:hover {
    width: 55%;
    height: 500px;
   
}


.navDelete {
    width: 80px;
  
    
 }

        
}

