.tripSection {
    height: 600px;
    
}



.trips {
    text-align: left;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.tripLi {
    padding-bottom: 20px;
    height: 100px;
}
  

.tripImage {
    display: inline-block;
    width: 100px;
    height: 50px;
    border-radius: 50px
}
  
  
  .trip {
    display: inline-block; 
    width: 10%; 
    font-size: 40px;
    padding-left: 30px;
    vertical-align: middle;
    height: 50px;
    padding-bottom: 30px;
    
}
    

  