
input {
    display: inline-block;
    font-size: 16px;
    height: 45px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgba(166, 88, 94, 1);
    transition: 0.1s;
    margin-left: 4px;
  }
  
input[type=date] {
    width: 350px;
    margin-top: 4px;
  }
  
input::placeholder { 
    color: rgba(242, 230, 223);
  } 
  
input:hover, input:active {
    border: 1px solid rgba(3, 52, 115);
  }
  
input[type="search"]{
    width: 100%;
  }
  
input[type="text"]{
    width: 15%;
    text-align: left
  }
    
input[type="date"]{
    font-family: 'Poppins', sans-serif;
  }
  
input[type="submit"]{
    height: 45px;
    width: 60px;
    font-size: 30px;
    border-radius: 5px;
    padding: 1px;
    transition: 0.1s;
  }
  
button {
    height: 35px;
    max-width: 60px;
    color: white;
    width: 90px;
    border-radius: 5px;
    padding: 1px;
    transition: 0.1s;
    border: 1px solid rgba(166, 88, 94, 1);
    z-index: 200px;
    font-weight: lighter;
}
  
.button {
    max-width: 200px;
    border-radius: 5px;
    padding: 1px;
    padding-top: 5px;
    margin-bottom: 2px;
    transition: 0.1s;
    z-index: 200px;
    display: inline-block;
  }
  
input[type="submit"]:hover,
  button:hover
   {
    border: 2px solid rgba(191, 4, 4);
  }

  