form, section, .chart {
    margin: 1%;
    border-radius: 10px;
    padding: 0;
}

form {
    background-color:  rgba(3, 52, 115);
    
}    


section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:rgba(83, 119, 166);
    padding-top: 60px;
}   

label {
    font-family: 'Poppins', sans-serif;
    padding-left: 5px;
    font-weight: 400; 
    
     
}

.labelWidth {
   width: 100%;
   display: inline-block;
   font-size: 15px;
   text-align: left;
}

input {
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    padding: 1%;
    border: 1px solid white;
    transition: 0.1s;
    margin-left: 4px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}
  
input[type=date] {
    width: 40%;
    margin-top: 4px;
}

 
input::placeholder { 
    color: rgba(173, 192, 217);
} 
  
input:hover, input:active, input[type="text"]:hover, input[type="search"]:hover, input[type="url"]:hover  {
    border: 2px solid rgba(3, 52, 115);
}
  
input[type="text"] {
    width: 80%;

}

input[type="text"], input[type="search"], input[type="url"]{
    border: 1px solid rgba(191, 4, 4);
    height: 50px;
}



input[type="number"]{
    width: 60%;
    font-size: 12px;
    height: 50px;
    text-align: center;
    background-color: rgba(173, 192, 217);
    color: black;
}
  
button[type="submit"], button[type="reset"]{
   width: 80%;
}
  
button {
    font-size: 12px;
    height: 30px;
    border-radius: 20px;
    transition: 0.1s;
    border: 1px solid rgba(242, 133, 173, 1);
    font-weight: lighter;
    margin: 10px;
    text-align: center;
}

button:hover {
    border: 2px solid rgba(191, 4, 4);
}
  
.button {
    max-width: 200px;
    border-radius: 5px;
    padding: 1px;
    padding-top: 5px;
    margin-bottom: 2px;
    transition: 0.1s;
    z-index: 200px;
    display: inline-block;
}


.filterButtonContainer {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;

}  

.go, .filter, .reset, .moreButton {
   display: inline-block
}

.back {
    position: absolute;
    top: 0px; 
    left:55px;
}

button[type="button"]{
   width: 10%;
   border-radius: 0px;
   border: none;
   height: 20px;
}

 .back:hover{
    left:50px;
    transition: 0.5;
  }

.filter, .reset {
    width: 10%;
    text-align: center;
    padding: 0;
}


.reset, .moreButton, .filter, .back {
    font-size: 8px;
}

.reset {
    color:  rgba(191, 4, 4);
   
}



.goContainer {
    text-align: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}



.moreContainer {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.moreButton {
    display: inline-block;
    width: 15%;
    margin:10px;
    padding: 10px;
    border-radius: 10px;
}


.moreButton:hover {
    font-weight: bolder;
}



.go {
   margin-right: 0;
   margin-left: 0;
   display: inline-block
}



.scroll {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    /*margin-right: 40px;*/
}

.filterForm {
   text-align: center;
   display: block;
}

/*.filterSelection {
  width: 45%;
 
 display: inline-block
}*/



.filterContainer {
    height: auto;
    background-color: white;
    border-radius: 3%;
    padding: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}
  
.filterCategory {
    text-align: left;
    display: inline-block;
    width: 10%;
}


.labelContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}

/* Hide the browser's default radio button */
.labelContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    z-index: 1;
}

 /*On mouse-over, add a grey background color*/ 
.labelContainer:hover input ~ .checkmark {
    background-color:  rgba(191, 4, 4);
    z-index: 1;
  }
  
  /* When the radio button is checked, add a blue background */
.labelContainer input:checked ~ .checkmark {
    background-color:   rgba(191, 4, 4);
    
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */


/* Show the indicator (dot/circle) when checked */
.labelContainer input:checked ~ .checkmark:after {
    display: block;
    background-color:   rgba(191, 4, 4);
}

/* Style the indicator (dot/circle) */
.labelContainer .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    /*background: white;*/
}

.charts {
    padding: 10px;
    margin: 10px;
    float: right;
    font-weight: bolder;
}


text {
    text-align: center;
    font-size: 8px;
  
}

.bar {
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
}

.bar text {
    color: black;
}

rect:hover,
rect:focus,
.bar:hover,
.bar:focus {
    fill: rgba(49, 31, 115);
}

.bar:hover text,
.bar:focus text {
    fill: white; 
}

svg {
    float: right;
    padding-right: 10px;
}


.inputBox, .resultBox{
    margin-left: auto;
    width: 25%;
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
}


.dataInput, .dataResult {
    width: 60%;
    height: 50px;
    display: inline-block;
    /*padding-left: 20px;*/
    /*margin-left: 20px;*/
    border-radius: 10%;
    vertical-align: middle;
    z-index: 1;
}


.textInput {
    width: 100%;
    display: inline-block;
    /*padding-left: 20px;*/
    /*margin-left: 20px;*/
}



.calcBox {
    width: 100%;
   text-align: center;

}

.inputsContainer, .resultsContainer {
    width: 100%;
    text-align: center;

}

.newItems {
    padding-top: 1px;
}


.adjustImage {
  float: right;
  top: 0;
  padding: 2px;
  zoom: 10;
}

@media only screen and (min-width: 666px) {

button {
    height: 80px;

}

.reset, .moreButton, .filter, .back {
    font-size: 12px;
    width: 20%

}
text {
    font-size: 28px
}

button[type="button"]{
    height: 4px
}

}


  