
table {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid  rgba(173, 192, 217)
}
   
th {
     font-weight: bolder;
     border: 1px solid  rgba(3, 52, 115); 
     margin-left: auto;
     margin-right: auto;
     transition: 0.3s;
}
   
th, td {
     /*padding: 1px;*/
     border: 1px;
     text-align: left;
     transition: 0.3s;
}

td, th {
     font-size: 7px;

}
   
td {
     border-bottom: 1px solid rgba(242, 230, 223);
     border-left: 1px solid white;
     border-right: 1px solid white;
  
}

.itemH {
     border-bottom: 1px solid white;
     /*border-right: 1px solid white;*/

}
   
.servingH, .weightH, .unitH, .caloriesH{
     width: 3%;
} 


.itemH, .addH, .brandH {
     width: 4%;
}


.imageH {
     width: 1%;
     color: rgba(3, 52, 115);
}

.block {
     display: block;
}
   
.calPserv:hover {
     font-size: 14px;
}
     
   
.tableImage {
     width: 10px;   
}

   
.tableImage:hover {
     width: 200px;
     transition: 0.3s;
}     
   
.quant, .gram, .cal, .brandId {
     /*font-weight: bold;*/
     transition: 0.3s;
}

   
.quant:hover, .quant:active {
     font-size: 20px; 
}
   
.calG:hover, .calG:active {
     font-size: 22px; 
     transition: 0.3s;
}
   
.resultsButtons {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 4%;
}
   
.tooltip {
     position: relative;
}
   
.tooltip .tooltiptext {
    visibility: hidden;
    width: 10px;
    color: rgba(49, 31, 115);
    opacity: 80%;
    text-align: bottom;
    border-radius: 6px;
    font-size: 7px;
    padding-left: 2px;
    /* Position the tooltip */
    position: absolute;
    z-index: 40;
}
   
.tooltip:hover .tooltiptext,  .tooltip:active .tooltiptext{
    visibility: visible;
}    

.content {
    padding-top: 200px;
}


.deleteH {
    background-color: rgba( 191, 4, 4);  
    text-align: center;   
}

.delete:hover {
    background-color: rgba( 191, 4, 4); 
    zoom:0.9;
    text-align: center;
}

td.delete {
     text-align: center;    
}

input.delete {
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: rgba( 191, 4, 4); 
}
 

.tableScroll {
     /*margin-left: -10px;*/
 }

.resultsTitle {
     display: inline-block;
     width: 20%;
}

.searchResultsTitle {
     text-align: center;
}
 

.addH {
     text-align: center;
     
}

.add:hover {
     background-color: lightpink;
     /*zoom: 1.2;*/
     text-align: center;
}
   
input.add {
     text-align: center;
     width: 50px;
     height: 50px;
     background-color: rgba(49, 31, 115)
}

.itemDetails {
     text-align:left;
}
    
.result {
     background-color: lightpink;
     color: black
}

.bolder {
     font-weight: bolder;
}

.tableAdjust, .add {
     display: none;
}


@media only screen and (min-width: 666px) {

.tableAdjust {
     display: block;
     height: 40%
}


.add {
     display: block;
}

td, th {
     font-size: 10px;

}

td {
     height: 15px;
} 

.servingH, .weightH, .unitH, .caloriesH{
     width: 10%;
} 



.itemH, .brandH {
     width: 14%;
}


.imageH {
     width: 8%;
}
   
.tableImage {
     width: 20px;   
}

}