
 .uYtitle {
    width:20%;
    display: block;
    padding-top: 65px;
    margin-left: auto;
    margin-right: auto;
  }


.hero {
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: -15px;*/
}



.search {
  text-align: left;
}


.searchForm {
  margin-top: -30px;
}
