


.navContainer {
    width: 100%;
    background-color:rgba(38, 11, 9, 1);  
    transition: 0.3s;
    height: 65px;
    position: fixed;
    z-index: 3;
}

.navbar {
   transition: 0.3s;
   z-index: 3;
   position: fixed;
}
  
.navbar:hover, .navbar:active {
    border: 1px solid rgba( 173, 192, 217);
}

.homeLogo {
    position: inherit;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
}
  
.myTrips {
    top: 0;
    right: 0; 
    padding-right: 15px;
    position: inherit;
    padding-top: 15px;
    font-weight: bolder;
}
    
.home {
    display: block;
    padding-top: 65px;
    text-align: center;
    padding-bottom: 5px;
    z-index: 10;
    width: 100%
}

/*need responsive*/
.uYtitle {
    width:20%;
    margin-bottom: -20px;
    padding-top: 0;
}

.title {
    margin-bottom: -20px;
}

.description {
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: center;
}   


.descriptionText {
    text-align: center;
    width: 90%;
    padding-top: 60px;
    position: absolute;
    font-weight: 500;
    left: 0;
    right: 0;
    z-index: 2;
    padding-left: 4px;
    padding-right: 4px;
    width: 100;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;

} 



.snowyOwl {
    border-radius: 5px;
    animation-duration: 4s;
    animation-name: slidein;
    transition-timing-function: ease-in;
    opacity: 0.6;
    width: 100%
    
   
  }


.snowyOwlContainer {
    text-align: center;
    width: 100px;
    
  }

@media only screen and (min-width: 768px) {
    .descriptionText {
        font-size: 20px;
        padding-top: 240px;
    }


.title {
    font-size: 30px;
}



h2 {
    font-size: 20px;
}


label {
    font-size: 18px;
}

}
 

@media only screen and (min-width: 768px) {

.myTrips {
    
    padding-top: 20px;
    font-size: 20px;
}


  
}

@media only screen and (min-width: 1000px) {

.homeLogo {
    width: 60px;
    height: 60px;
  
}

}
  