
.navContainer {
    width: 100%;
    background-color:rgba(38, 11, 9, 1);  
    transition: 0.3s;
    height: 65px;
    position: fixed;
}

.navbar {
   transition: 0.3s;
   z-index: 100;
   position: fixed;
}
  
.navbar:hover, .navbar:active {
    border: 1px solid rgba( 173, 192, 217);
}

.homeLogo {
    position: inherit;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
}
  
.myTrips {
    top: 0;
    right: 0; 
    padding-right: 10px;
    position: inherit;
    padding-top: 15px;
    font-weight: bolder;
}
    
.home {
    display: block;
    padding-top: 65px;
    text-align: center;
    padding-bottom: 5px;
    z-index: 10;
}

/*need responsive*/
.uYtitle {
    width:20%;
    margin-bottom: -20px;
    padding-top: 0;
}

.title {
    margin-bottom: -20px;
}

.description {
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: center;
}   


.descriptionText {
    padding-top: 140px;
    position: absolute;
    font-weight: 500;
    left: 0;
    right: 0;
    z-index: 4;
    padding-left: 4px;
    padding-right: 4px;

} 



.snowyOwl {
    border-radius: 5px;
    animation-duration: 4s;
    animation-name: slidein;
    transition-timing-function: ease-in;
    z-index: 1;
    opacity: 0.6;
    
   
  }


.snowyOwlContainer {
    text-align: center;
    width: 100px;
    
  }
  
